extends layout

block content
  h3= title

  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='250px') Title 
        th(scope='col') Author 
        th(scope='col') Date Published 
        th(scope='col') isRecommended 

    tbody
      - articles.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      //- Loops through each article from the article list.
      each article in articles

        tr
          td
            a(href=article.url) #{article.title} 
          
          td 
            a(href=article.createdBy.url) #{article.createdBy.name} 
          td #{moment(article.createdAt).format('MMM D, YYYY HH:mm')}
          td 
            form(method='POST' action='')
              label(for='articleId')
              input#articleId.form-control(type='hidden' name='articleId' required='true' value=article._id)
              button.btn.btn-danger(type='submit') Remove
      else
        tr
          td There are no recommended articles
          td
          td
    
  a.btn.btn-secondary(href='/dashboard') Go back to Dashboard