extends layout

block content
  h3= title
 
  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col') Title 
        th(scope='col') Author 
        th(scope='col') Date Published 
        th(scope='col')
        th(scope='col')
    tbody
      - article_list.sort(function(a, b) {let textA = a.createdAt; let textB = b.createdAt; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
      each article in article_list
        tr
          td
            a(href=article.url) #{article.title} 
          td 
            a(href='#') #{article.createdBy.name} 
          td #{moment(article.createdAt).format('MMM D, YYYY HH:mm')}
          td
            a(href=article.url+'/update' title="Edit Article")   
              svg.bi.bi-pencil(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z')
                path(fill-rule='evenodd', d='M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z') 
          |  
          td
            a(href=article.url+'/delete' title="Delete Article")  
              svg.bi.bi-x-circle-fill.text-danger(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z')
      else
        tr
          th(scope='row') 
          td There are no articles yet. Add one 
            | 
            a(href='/articles/create') now.
          td
  
  //- Pagination component
  nav(aria-label='Article list page')
    //- There are more items in db than the ones showed on page
    if article_count > pagination
      ul.pagination
        //- There are no more than 2 pages needed
        if article_count <= (2 * pagination)
          //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
          if page == 1
            li.page-item.disabled
              a.page-link(href='articles', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`articles?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`articles?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`articles?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
          //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
          else
            li.page-item
              a.page-link(href=`articles?page=1&pagination=${pagination}`, aria-label='Previous')
                span(aria-hidden='true') «
            li.page-item
              a.page-link(href=`articles?page=1&pagination=${pagination}`) 1
            li.page-item.active(aria-current='page')
              a.page-link(href=`articles?page=2&pagination=${pagination}`) 2
                span.sr-only (current)
            li.page-item.disabled
              a.page-link(href='articles', aria-label='Next' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') »
        //- There are more than 2 pages needed
        else
          //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
          if page <= 1
            li.page-item.disabled
              a.page-link(href='articles', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`articles?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`articles?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`articles?page=3&pagination=${pagination}`) 3
            li.page-item
              a.page-link(href=`articles?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
            if (Number.isInteger(article_count/pagination))
              li.page-item
                a.page-link(href=`articles?page=${Math.floor(article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
            else
              li.page-item
                a.page-link(href=`articles?page=${Math.floor(article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
          else
            //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
            if article_count > (page * pagination)
              li.page-item
                a.page-link(href=`articles?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`articles?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`articles?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`articles?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`articles?page=${page+1}&pagination=${pagination}`) #{page+1}  
              li.page-item
                a.page-link(href=`articles?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
              if (Number.isInteger(article_count/pagination))
                li.page-item
                  a.page-link(href=`articles?page=${Math.floor(article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
              else
                li.page-item
                  a.page-link(href=`articles?page=${Math.floor(article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
            //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
            else
              li.page-item
                a.page-link(href=`articles?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`articles?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`articles?page=${page-2}&pagination=${pagination}`) #{page-2}  
              li.page-item
                a.page-link(href=`articles?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`articles?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item.disabled
                a.page-link(href='articles', aria-label='Next' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') »

  
  a.btn.btn-primary(href='/articles/create') Add Article
  | 
  a.btn.btn-secondary(href='/dashboard') Go back to Dashboard