extends layout

block head
  //- Category page meta description
  meta(name='description' content=`We bring you the most important news of the day about Romania in English; the latest news in ${category.name}.`)
  //- Canonical
  link(rel='canonical' href=`https://romanianreporter.com/categories/${category._id}/${category.slug}`)

block content

  include helpers
  .container-fluid
    .row
      .col-sm-8 
        h1.sidebar_title #{category.name}
        br
        - category_articles.sort(function(a, b) {let textA = a.createdAt; let textB = b.createdAt; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
        - let i = 0;
        each article in category_articles
          if i == 0 && page == 1
            article.article-lg
              .container-fluid
                  .row  
                    .col-md
                      figure.article-thumb
                        a(href=article.url)
                          img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
                      each val, index in article.category
                        a.article-tag(href=val.url) #{val.name}
                        if index < article.category.length - 1
                          |  
                      h1 
                        a.article_title(href=article.url) #{article.title}
                      div
                        span.published-date 
                          i.far.fa-clock
                          | 
                          | #{moment(article.createdAt).format('LL')}
                      br
                      div
                        p(style='display:inline') !{truncate(article.text, 300)} 
                          |
                          a(href=article.url) ...more
                      br
          else
            article.article-md
              .container-fluid
                .row  
                  .col-md-6
                    figure.article-thumb
                      a(href=article.url)
                        img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
                  .col-md-6
                    div.article-content
                      each val, index in article.category
                        a.article-tag(href=val.url) #{val.name}
                        if index < article.category.length - 1
                          |  
                      h5 
                        a.article_title(href=article.url) #{article.title}
                      div
                        span.published-date 
                          i.far.fa-clock
                          | 
                          | #{moment(article.createdAt).format('LL')}
                      br
                      div
                        p(style='display:inline') !{truncate(article.text, 150)} 
                
          - i++;
          br
      //- Right sidebar
      .col-sm-4
        .container-fluid
          .row
            //- it is fetched through index controller, not working here
            //- include template_exchange

    //- Pagination component
    include template_pagination_categories

  if user
    hr
    if user.email==env.ADMIN_EMAIL
      a.btn.btn-dark(href=category.url+'/update') Update category
      | 
      a.btn.btn-danger(href=category.url+'/delete') Delete category
    | 
    a.btn.btn-secondary(href='/categories') Back to categories