extends layout

block head
  //- Main page meta description
  meta(name='description' content='We bring you the most important news of the day about Romania in English; the latest news in society, business, and politics.')

block content
 
  include helpers
  .container-fluid
    .row
      //- Main Content
      .col-sm-8
        - article_last.sort(function(a, b) {let textA = a.createdAt; let textB = b.createdAt; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
        - let i = 0;
        each article in article_last
          if i == 0 && page == 1
            article.article-lg
              .container-fluid
                .row  
                  .col-md
                    figure.article-thumb
                      a(href=article.url)
                        img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
                    each val, index in article.category
                      a.article-tag(href=val.url) #{val.name}
                      if index < article.category.length - 1
                        |  
                    h1 
                      a.article_title(href=article.url) #{article.title}
                    div
                      span.published-date 
                        i.far.fa-clock
                        | 
                        | #{moment(article.createdAt).format('LL')}
                    br
                    div
                      p(style='display:inline') !{truncate(article.text, 300)} 
                        |
                        a(href=article.url) ...more
          else
            article.article-md
              .container-fluid
                .row  
                  .col-md-6
                    figure.article-thumb
                      a(href=article.url)
                        img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
                  .col-md-6
                    div.article-content
                      each val, index in article.category
                        a.article-tag(href=val.url) #{val.name}
                        if index < article.category.length - 1
                          |  
                      h5 
                        a.article_title(href=article.url) #{article.title}
                      div
                        span.published-date 
                          i.far.fa-clock
                          | 
                          | #{moment(article.createdAt).format('LL')}
                      br
                      div
                        p(style='display:inline') !{truncate(article.text, 150)} ...
          - i++;
          br

        //- Moved inside the 8-col div to show correctly at the bottom of the page
        //- Pagination component
        include template_pagination      
      
      //- Right sidebar
      .col-sm-4
        .container-fluid
          .row
            //- Exchange Rate
            include template_exchange
            //- Recommended Articles
            .sidebar-article
              h6.sidebar_title Recommended Articles
              br
              - article_recommended.sort(function(a, b) {let textA = a.createdAt; let textB = b.createdAt; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
              each article in article_recommended
                article.article-md
                  .container-fluid
                    .row  
                      div.article-content
                        h5 
                          a.article_title(href=article.url) #{article.title}
                        div
                          span.published-date 
                            i.far.fa-clock
                            | 
                            | #{moment(article.createdAt).format('LL')}
                        br
                      figure.article-thumb
                        a(href=article.url)
                          img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
                    hr

    
  
  