extends layout

block content
 
  include helpers

  - article_last.sort(function(a, b) {let textA = a.createdAt; let textB = b.createdAt; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
  - let i = 0;
  each article in article_last
    if i == 0
      article.article-lg
        figure.article-thumb
          a(href=article.url)
            img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
        each val, index in article.category
          a.article-tag(href=val.url) #{val.name}
          if index < article.category.length - 1
            |  
        h2 
          a.article_title(href=article.url) #{article.title}
        div
          p(style='display:inline') !{truncate(article.text, 300)} 
            |
            a(href=article.url) ...more
    else
      article.article-md
        .container-fluid
          .row  
            .col-md-6
              figure.article-thumb
                a(href=article.url)
                  img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
            .col-md-6
              div.article-content
                each val, index in article.category
                  a.article-tag(href=val.url) #{val.name}
                  if index < article.category.length - 1
                    |  
                h5 
                  a.article_title(href=article.url) #{article.title}
                div
                  p(style='display:inline') !{truncate(article.text, 150)} 
                p Published #{moment(article.createdAt).fromNow()}
          
    - i++;
    br

block right-sidebar

  .container-fluid
    .row.search-box 
      form.form-inline.my-2.my-lg-0(action='#')
        input#search.form-control.mr-sm-2(type='text', placeholder='Search news', name='search', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search   
  .container-fluid
    .row
      .sidebar-article
        
        hr
        dataset(xmlns='http://www.bnr.ro/xsd', xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance', xsi:schemalocation='http://www.bnr.ro/xsd nbrfxrates.xsd')
          header
            publisher National Bank of Romania
            br
            publishingdate 2020-08-26
            br
          subject Exchange Rate for RON
          br
          cube(date='2020-08-26')
            rate(currency='EUR') 1 EUR = 4.8404
            br 
            rate(currency='USD') 1 USD = 4.0968
            br 
            rate(currency='GBP') 1 GBP = 5.3863
            br
            rate(currency='MDL') 1 MDL = 0.2462
            br
            rate(currency='PLN') 1 PLN = 1.0987




      

  //- Pagination component
  nav(aria-label='Main page')
    //- There are more items in db than the ones showed on page
    if article_count > pagination
      ul.pagination
        //- There are no more than 2 pages needed
        if article_count <= (2 * pagination)
          //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
          if page == 1
            li.page-item.disabled
              a.page-link(href='/', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`/?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`/?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`/?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
          //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
          else
            li.page-item
              a.page-link(href=`/?page=1&pagination=${pagination}`, aria-label='Previous')
                span(aria-hidden='true') «
            li.page-item
              a.page-link(href=`/?page=1&pagination=${pagination}`) 1
            li.page-item.active(aria-current='page')
              a.page-link(href=`/?page=2&pagination=${pagination}`) 2
                span.sr-only (current)
            li.page-item.disabled
              a.page-link(href='/', aria-label='Next' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') »
        //- There are more than 2 pages needed
        else
          //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
          if page <= 1
            li.page-item.disabled
              a.page-link(href='/', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`/?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`/?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`/?page=3&pagination=${pagination}`) 3
            li.page-item
              a.page-link(href=`/?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
            if (Number.isInteger(article_count/pagination))
              li.page-item
                a.page-link(href=`/?page=${Math.floor(article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
            else
              li.page-item
                a.page-link(href=`/?page=${Math.floor(article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
          else
            //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
            if article_count > (page * pagination)
              li.page-item
                a.page-link(href=`/?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`/?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`/?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`/?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`/?page=${page+1}&pagination=${pagination}`) #{page+1}  
              li.page-item
                a.page-link(href=`/?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
              if (Number.isInteger(article_count/pagination))
                li.page-item
                  a.page-link(href=`/?page=${Math.floor(article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
              else
                li.page-item
                  a.page-link(href=`/?page=${Math.floor(article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
            //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
            else
              li.page-item
                a.page-link(href=`/?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`/?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`/?page=${page-2}&pagination=${pagination}`) #{page-2}  
              li.page-item
                a.page-link(href=`/?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`/?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item.disabled
                a.page-link(href='/', aria-label='Next' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') »
    