doctype html
html(lang='en')
  
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body

    include layout_ignore
    
    .app_body

      //- Navbar
      nav.navbar.navbar-expand-md.navbar-dark
        a.navbar-brand(href='/') Ro News
        
        //- Hamburger menu icon
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-menu', aria-controls='navbar-menu', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        
        #navbar-menu.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href=`/categories/${BUSINESS}/business`)
                | Business 
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href=`/categories/${POLITICS}/politics`)
                | Politics 
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href=`/categories/${EDUCATION}/education`)
                | Education 
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href=`/categories/${HEALTH}/health`)
                | Health 
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href=`/categories/${SPORTS}/sports`)
                | Sports 
                span.sr-only (current)
            li.nav-item.dropdown.active
              a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Other
              .dropdown-menu(aria-labelledby='dropdown01')
                a.dropdown-item(href=`/categories/${CORONAVIRUS}/coronavirus`) Coronavirus
          ul.navbar-nav.mr-right

            //- Search form
            form.form-inline.my-2.my-lg-0(action='/search')
              input#search.form-control.mr-sm-2(type='text', placeholder='Search news', name='search', aria-label='Search')
              button.btn.btn-info.my-2.my-sm-0(type='submit') Search   
    
            li.nav-item.active
              a.nav-link(href='/users/help')
                | Help 
                span.sr-only (current
              
            if user
              li.nav-item.dropdown.active
                a#dropdown02.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{user.username}  
                .dropdown-menu(aria-labelledby='dropdown02')
                  if user.email == ADMIN_EMAIL
                    a.dropdown-item(href='/dashboard') Dashboard
                  a.dropdown-item(href='/users/account') Account
                  a.dropdown-item(href='/users/logout') Log Out
            else
              li.nav-item.active
                a.nav-link(href='/users/register') Register
              
              li.nav-item.active
                a.nav-link(href='/users/login') Login

      div(class='container-fluid')
        div(class='row')
          div(class='col-sm-8')
            br
            != messages('message', locals)
            if errors
              each error, i in errors
                div(class="alert alert-danger") #{error.msg}
            block content
            br
          div(class='col-sm-4')
            block right-sidebar
    div.footer
      p Copyright &copy; 2020

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js', integrity='sha512-P4rrEImABBYtBFdmrFPqF8rjh8iiRiupfQ4KLrBCL8dAivLiM2nh+1bJQeMb2ZglmIlGZdfTtgGdXH6H/hGVeg==', crossorigin='anonymous')
    script.
      CKEDITOR.replace('text')