extends layout

block content
  h3=title
  br
  .container-fluid
    .row
      each article in articles
          .col-md-4  
            .row-md-6
              div.article-content
                h6 
                  a.article_title(href=`/articles/${article._id}/${article.slug}`) #{article.title}
            .row-md-6
              figure.article-thumb
                a(href=`/articles/${article._id}/${article.slug}`)
                  img(id='article_img', src=`/images/articles/${article._id}.jpg`, onerror="this.onerror=null;this.src='/images/articles/image_missing.svg';", title=`${article.title}`, alt=`${article.title}`)
  
  //- TODO - pagination