nav(aria-label='Category detail page')
  //- There are more items in db than the ones showed on page
  if category_article_count > pagination
    ul.pagination
      //- There are no more than 2 pages needed
      if category_article_count <= (2 * pagination)
        //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
        if page == 1
          li.page-item.disabled
            a.page-link(href=`/categories/${category._id}/${category.slug}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
              span(aria-hidden='true') «
          li.page-item.active(aria-current='page')
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`) 1
              span.sr-only (current)
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=2&pagination=${pagination}`) 2
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=2&pagination=${pagination}`, aria-label='Next')
              span(aria-hidden='true') »
        //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
        else
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`, aria-label='Previous')
              span(aria-hidden='true') «
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`) 1
          li.page-item.active(aria-current='page')
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=2&pagination=${pagination}`) 2
              span.sr-only (current)
          li.page-item.disabled
            a.page-link(href=`/categories/${category._id}/${category.slug}`, aria-label='Next' tabindex="-1" aria-disabled="true")
              span(aria-hidden='true') »
      //- There are more than 2 pages needed
      else
        //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
        if page <= 1
          li.page-item.disabled
            a.page-link(href=`/categories/${category._id}/${category.slug}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
              span(aria-hidden='true') «
          li.page-item.active(aria-current='page')
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`) 1
              span.sr-only (current)
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=2&pagination=${pagination}`) 2
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=3&pagination=${pagination}`) 3
          li.page-item
            a.page-link(href=`/categories/${category._id}/${category.slug}?page=2&pagination=${pagination}`, aria-label='Next')
              span(aria-hidden='true') »
          if (Number.isInteger(category_article_count/pagination))
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${Math.floor(category_article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                span(aria-hidden='true') Last »»
          else
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${Math.floor(category_article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                span(aria-hidden='true') Last »»
        else
          //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
          if category_article_count > (page * pagination)
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`, aria-label='First')
                span(aria-hidden='true') «« First
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                span(aria-hidden='true') «
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page-1}&pagination=${pagination}`) #{page-1}  
            li.page-item.active(aria-current='page')
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page}&pagination=${pagination}`) #{page}  
                span.sr-only (current)
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page+1}&pagination=${pagination}`) #{page+1}  
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
            if (Number.isInteger(category_article_count/pagination))
              li.page-item
                a.page-link(href=`/categories/${category._id}/${category.slug}?page=${Math.floor(category_article_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
            else
              li.page-item
                a.page-link(href=`/categories/${category._id}/${category.slug}?page=${Math.floor(category_article_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
          //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
          else
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=1&pagination=${pagination}`, aria-label='First')
                span(aria-hidden='true') «« First
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                span(aria-hidden='true') «
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page-2}&pagination=${pagination}`) #{page-2}  
            li.page-item
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page-1}&pagination=${pagination}`) #{page-1}  
            li.page-item.active(aria-current='page')
              a.page-link(href=`/categories/${category._id}/${category.slug}?page=${page}&pagination=${pagination}`) #{page}  
                span.sr-only (current)
            li.page-item.disabled
              a.page-link(href=`/categories/${category._id}/${category.slug}`, aria-label='Next' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') »